<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>User page</title>
</head>
<body>

<nav class="navbar navbar-dark bg-dark">
    <div class="navbar-brand inline" id="userInfo">
    </div>
    <div>
        <a href="/logout" class="text-muted">Logout</a>
    </div>
</nav>

<div class="row">
    <div class="col-md-2">
        <ul class="nav flex-column nav-pills">
            <li class="nav-item">
                <a class="nav-link" href="./users">Admin</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#admin">User</a>
            </li>
        </ul>
    </div>

    <div class="col-md -10 bg-light">
        <div class="container">
            <div class="h1">User information-page</div>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="users">
                    <table class="table">
                        <tr>
                            <th>
                                <h5 class="container">About user</h5>
                            </th>
                        </tr>
                        <tr>
                            <th>
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Username</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Role</th>
                                    </tr>
                                    </thead>
                                    <tbody id="tableForUser">
                                    </tbody>
                                </table>
                            </th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function getTableForUser() {
        fetch("http://localhost:8080/api/admin/user/")
            .then(res => res.json())
            .then(user => {
                let userRoles = ''
                for (let i = 0; i < user.roles.length; i++) {
                    userRoles += `${user.roles[i].name} `
                }
                let tableFilling = `
                        <tr>
                            <td>${user.id}</td>
                            <td>${user.username}</td>
                            <td>${user.firstName}</td>
                            <td>${user.lastName}</td>
                            <td>${userRoles}</td>
                        </tr>
                `;
                document.getElementById("userInfo").innerHTML = `${user.username}` + " with roles: " + userRoles;
                document.getElementById("tableForUser").innerHTML = tableFilling;
            })
    }
    getTableForUser()
</script>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


</body>
</html>